@import "tailwindcss";

@theme {
  --color-catYellow: #fec40f;
  --font-cat: "Bebas Neue", "sans-serif";
  --font-sans: "Poppins", "ui-sans-serif", "system-ui", "sans-serif";
}
/* Add in your CSS file or Tailwind config */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
