@import "tailwindcss";

@theme {
  --color-catYellow: #fec40f;
  --font-cat: "Bebas Neue", "sans-serif";
  --font-sans: "Poppins", "ui-sans-serif", "system-ui", "sans-serif";
}
/* Add in your CSS file or Tailwind config */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.cards:hover .card:not(:hover) {
  filter: grayscale(100%) brightness(0.6);
  transform: scale(0.98);
}

.card:hover {
  filter: none;
  transform: scale(1.03);
}

.card {
  transition: transform 300ms ease, filter 300ms ease;
}
